
  <div  class="row edit-row">
    <div class="col-md-6">
      <br>
      <label>Name</label>
      <input type="text" [(ngModel)]="formInfo.name" /><br />
      <br>
      <label>Location</label>
      <input  type="text" [(ngModel)]="formInfo.location" /><br />
      <br>
      <label>Email</label>
      <input  type="text" [(ngModel)]="formInfo.email" /><br />
      <br>
      <label>description</label>
      <input type="text" [(ngModel)]="formInfo.description" /><br />
      <br>
    </div>
    <br>
        <button (click)="new()" [routerLink]="['/login']"> Create </button>
  </div>
