<div class="wrapper home">
<header class="col-sm-12 col-md-12 col-lg-2">
    <div class="sidebar-nav row">
      <div class="brand-centered">
          <a class="navbar-brand" href="#">
            <h1>Logo</h1>
          </a>
      </div>
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active current"><a href="/concerts">Home</a></li>
            <li><a href="/concerts">Up</a></li>
            <li><a href="/concerts">Coming</a></li>
            <li><a href="/concerts">Concerts</a></li>
            <li><span></span></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</header>
<section class="col-md-12 col-lg-10 grids">
    <div class="row">
    	<div class="grid-item item1">
            <div class="content">
                <div class="bg" style="background-image: url('https://1.bp.blogspot.com/-cQSp8V5-iy4/WTUJABMsh2I/AAAAAAAAFXk/ULbnm65O7xI6MirAKamKV5jtrDQaKYN8QCLcB/s1600/Sin%2Bt%25C3%25ADtulo5.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 1</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item2">
            <div class="content">
                <div class="bg" style="background-image: url('https://austinmello.files.wordpress.com/2009/10/empty-stage.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 2</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item3">
            <div class="content">
                <div class="bg" style="background-image: url('https://moonunderwaterdotorg.files.wordpress.com/2012/02/annaedit3.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 3</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item4">
            <div class="content">
                <div class="bg" style="background-image: url('http://www.photoshelter.com/img-get/I0000LLTLRE1Ic7Q/s/1000/667/slowdive-live-atp-082-MEB4236.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 4</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item5">
            <div class="content">
                <div class="bg" style="background-image: url('http://farm4.static.flickr.com/3554/3482104016_febfd6164e.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 5</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMO">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item6">
            <div class="content">
                <div class="bg" style="background-image: url('https://d362k1coro6mf4.cloudfront.net/wp-content/uploads/2015/04/11157993_957719194272409_855321510_n.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 6</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item7">
            <div class="content">
                <div class="bg" style="background-image: url('https://i2.wp.com/www.grimygoods.com/wp-content/uploads/2017/05/FSTOPkmGG-5.jpg?resize=625%2C417');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 7</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item8">
            <div class="content">
                <div class="bg" style="background-image: url('http://1.bp.blogspot.com/-DfHy-r0qkhI/VNd5-976Y8I/AAAAAAAACPg/jwsu-8gQRvQ/s1600/nirvana-live.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 8</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item9">
            <div class="content">
                <div class="bg" style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/9d/be/71/9dbe7144356fdbbdf3c1b4499b052817.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 9</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item10">
            <div class="content">
                <div class="bg" style="background-image: url('http://farm2.static.flickr.com/1104/1224235709_bd04719c9a.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 10</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item11">
            <div class="content">
                <div class="bg" style="background-image: url('http://larecord.com/larwp/wp-content/gallery/nov2014_slowdive_ace/20141109-Slowdive-AceHotel-_DSC5212.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 11</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item item12">
            <div class="content">
                <div class="bg" style="background-image: url('http://4.bp.blogspot.com/-25vuukaqVUo/U0UMlk-SxjI/AAAAAAAAMBk/THs-gm9RKU8/s1600/_AYF5174.jpg');"></div>
                <div class="caption">
                    <div class="text">
                        <h3>Nome da obra 12</h3>
                        <p>blabla blabla blabla blabla blabla blabla blabla </p>
                        <span class="calltoaction"><a href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7NMOl">Ver</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer></footer>
</div>
