<div *ngIf="concertProfile">

  <h1>{{concertProfile.artist}}</h1>
  <br>
  <img src="{{concertProfile.imgUrl[1]}}" alt="loading">
  <br>
  Summary: {{concertProfile.summary}}
    <br>
  Similar artist: {{concertProfile.similarArtist}}
  <br>
  Tags: {{concertProfile.tags}}
  <br>
  <button (click)="assistButton()">Assist</button>
  <br>

  <div>
    <ul>
    <li *ngFor="let spec of specs"> {{ spec }} </li>
  </ul>
  <ul>
    <li *ngFor= "let assistant of assistants">{{assistant.clientId.name}}</li>
  </ul>

  </div>
<div *ngIf="recommendations">

<div *ngFor= "let recommendation of recommendations">
{{recommendation[0].artist}}

<button [routerLink]="['/concerts',recommendation[0]._id]">Ir al concierto</button>
</div>
</div>
